.input-amount {
  display: flex;

}

.counter-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.pluceButton {
  background-color: blue;
  color: white;
  padding: 5px;
}

.minusButton {
  background-color: red;
  color: white;
  padding: 5px;
}

.incrementbutton {
  background-color: blue;
  padding: 5px;
  color: white;
  margin-left: 5px;
}